.title {
  margin: 0;
}

.gift_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--table-primary);
  width: 100%;
  max-width: 75%;
  overflow: hidden;
}

.gift_table_wrapper {
  border: 10px solid var(--border-color);
  position: relative; /* This will allow positioning the actions outside the table */
  width: 100%;
}

.gift_table {
  width: 100%;
  border-collapse: collapse;
}

.gift_table th,
.gift_table td {
  text-align: center;
  padding: 12px 2.5rem;
}

.gift_table th {
  background-color: var(--table-primary);
  font-weight: bold;
  border-bottom: 4px solid var(--table-underline);
}

.gift_table td {
  max-width: 600px;
  word-wrap: break-word; /* Break long words and wrap text */
  word-break: break-word; /* Ensure long words break to the next line */
  white-space: normal; /* Allow wrapping to the next line */
}

.gift_table tr:nth-child(odd) {
  background-color: var(--table-secondary);
}

.gift_table a {
  color: var(--primary-accent);
  text-decoration: none;
}

.gift_table a:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.gift_table tr {
  position: relative;
}

.actions_wrapper {
  position: absolute;
  width: 60px;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
}

.edit_icon,
.delete_icon {
  cursor: pointer;
  font-size: 18px;
  color: var(--text-color); /* Set to any color you prefer */
  transition: color 0.2s ease;
}

.edit_icon:hover,
.delete_icon:hover {
  color: var(--primary-accent); /* Change color on hover */
  transform: scale(1.05);
}

.edit_icon:active,
.delete_icon:active {
  transform: scale(0.95);
}

.checkbox {
  width: 25px; 
  height: 25px;
  cursor: pointer; 
  accent-color: var(--checkbox-color); 
}

.checkbox:hover {
  transform: scale(1.1); /* Slightly increase the size on hover */
}

.checkbox:active {
  transform: scale(0.9); /* Slightly increase the size on hover */
}

.empty_list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: nowrap;
  width: 100%;
  padding: 5%;
}

@media (max-width: 840px) {
  .gift_list {
    max-width: 97%;
  }

  .gift_table_wrapper {
    border-width: 8px;
  }

  p {
    font-size: 20px !important;
  }

  a {
    color: var(--primary-accent);
    text-decoration: none;
  }

  .mobile_table {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  .mobile_table_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--table-primary);
    padding: 12px 4px;
    border-bottom: 2px solid var(--border-color);
  }

  .item_name, .item_name_personal, .item_price, .item_price_personal, .item_bought {
    text-align: center;
    align-content: center;
  }

  .item_name_personal {
    flex-basis: 75%;
    padding-right: 3px !important;
  }

  .item_price_personal {
    flex-basis: 25%;
  }

  .item_name {
    flex-basis: 60%;
    padding-right: 3px !important;
  }

  .item_price {
    flex-basis: 20%;
  }

  .item_bought {
    flex-basis: 20%;
    align-self: center;
  }

  .gift_row {
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-mobile);
    overflow: hidden;
    transition: transform 0.3s ease;
    touch-action: pan-y; /* allow vertical scroll but horizontal swipe */
  }

  .gift_row_content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px 5px;
    transition: transform 0.3s ease;
    z-index: 2;

    div {
      padding: 13px 0;
      border-right: 1px solid var(--border-mobile);
    }
    div:last-child {
      border-right: 0;
    }
  }

  .gift_row:nth-child(odd) .gift_row_content {
    background-color: var(--table-primary);
  }

  .gift_row:nth-child(even) .gift_row_content {
    background-color: var(--table-secondary);
  }
  
  .row_actions {
    position: absolute;
    right: 0;
    top: 0;
    width: 26%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .gift_row_content.swiped {
    transform: translateX(-26%); /* width of action buttons */
  }

  .checkbox {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  .edit_icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6c20f;
  }

  .delete_icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ED1832;
  }

  .edit_icon,
  .delete_icon {
    font-size: 18px;
    color: white;
  }

  .edit_icon:active,
  .delete_icon:active {
    transform: scale(0.95);
  }
}
