@accent-red: #D11C25;
@accent-yellow: rgba(209, 222, 92, 0.5);
@text-color: #009166;

.family_lists_container {
  height: 100%;
  position: relative;
}

.family_lists_wrapper {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
}

.backButton {
  position: absolute;
  top: 0;
  left: 2%;
  font-size: 28px;
}