@accent-red: #D11C25;
@accent-yellow: rgba(209, 222, 92, 0.5);
@text-color: #009166;

.dashboard_container {
  height: 100%;
  padding-bottom: 10%;
}

.gift_list_wrapper {
  margin-top: 1%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
}

@media (max-width: 840px) {
  .add_item {
    font-size: 30px;
  }
}