// @font-face {
//   font-family: grinched;
//   src: url("./assets/fonts/GrinchedRegular.otf");
// }

@font-face {
  font-family: Quicksand;
  src: url("./assets/fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: Cormorant-Garamond;
  src: url("./assets/fonts/CormorantGaramond-VariableFont_wght.ttf");
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

:root {
  --app-font: 'Cormorant-Garamond', serif;
  --back-background-color: #1D351D;
  --background-color: #456945;
  --background-color-holo: #2E513AF8;
  --text-color: rgb(218, 218, 218);
  --primary-accent: #E6BE9A;
  --secondary-accent: #1D351D;
  --secondary-accent-holo: #2E513Af5;
  --input-fields: #2E513A;
  --table-primary: #2E513A;
  --table-secondary: #456945;
  --text-accent: var(--primary-accent);
  --checkbox-color: var(--primary-accent);
  --person-box-background-color: #2E513Af5;
  --border-color: #8B181D;
  --border-mobile: #3a8b3b32;
  --border-modal: var(--border-color);
  --table-underline: var(--border-color);
  --mobile-draggable-color: #929292;
  --background-image: url('/public/assets/images/christmas-background.png');
}

/* 🎄 Christmas theme */
body.christmas-theme {
  --app-font: 'Cormorant-Garamond', serif;
  --back-background-color: #1D351D;
  --background-color: #456945;
  --background-color-holo: #2E513AF8;
  --text-color: #dadada;
  --primary-accent: #E6BE9A;
  --secondary-accent: #1D351D;
  --secondary-accent-holo: #2E513Af5;
  --input-fields: #2E513A;
  --table-primary: #2E513A;
  --table-secondary: #456945;
  --text-accent: var(--primary-accent);
  --checkbox-color: var(--primary-accent);
  --person-box-background-color: #2E513Af5;
  --border-color: #8B181D;
  --border-mobile: #3a8b3b32;
  --border-modal: var(--border-color);
  --table-underline: var(--border-color);
  --background-color-tooltip: var(--background-color-holo);
  --text-color-tooltip: var(--text-color);
  --mobile-draggable-color: #929292;
  --background-image: url('/public/assets/images/christmas-background.png');
}

/* ✨ Party theme */
body.party-theme {
  --app-font: 'Quicksand', sans-serif;
  --back-background-color: white;
  --background-color: #67aae4;
  --background-color-holo: #67aae4f8;
  --text-color: black;
  --primary-accent: #e56820;
  --secondary-accent: #549ee3;
  --secondary-accent-holo: rgb(228, 239, 251);
  --input-fields: #3078b7;
  --table-primary: var(--secondary-accent-holo);
  --table-secondary: #f9f9f9;
  --text-accent: #dbdbdb;
  --checkbox-color: var(--primary-accent);
  --border-color: #4889D8;
  --border-table-mobile: #3a8b3b32;
  --border-modal: var(--primary-accent);
  --table-underline: var(--border-color);
  --background-color-tooltip: var(--secondary-accent-holo);
  --text-color-tooltip: var(--text-color);
  --mobile-draggable-color: #929292;
  --background-image: url('/public/assets/images/party-background.png');
}

html, body {
  overscroll-behavior: none;
}

body {
  font-family: var(--app-font);
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--text-color);
  background-image: var(--background-image);
  background-color: var(--back-background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-size: 24px;
  overflow-x: hidden;
}

h1 {
  font-size: 68px;
  letter-spacing: 5px;
}

h2 {
  font-size: 48px;
  line-height: 1em;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 32px;
  line-height: 1.7em;
}

button {
  font-family: var(--app-font);
  background-color: transparent;
  border: 3px solid var(--border-color);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-accent-holo);
  color: var(--text-color);
  font-size: 40px;
  letter-spacing: 2px;
  transition: transform 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    color: var(--primary-accent);
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98) translateY(0);
  }

  &:disabled {
    cursor: not-allowed; /* Disable pointer events */
    opacity: 0.5; 
    transform: scale(1);
    text-decoration: none;
    color: var(--text-color);
  }
}

a:hover {
  cursor: pointer;
}

@media (max-width: 840px) {
  body {
    font-size: 16px;
    overflow-x: hidden;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  body.party-theme {
    --background-image: url('/public/assets/images/party-background-mobile.png');
  }

  body.christmas-theme {
    --background-image: url('/public/assets/images/christmas-background.png');
  }

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 28px;
    line-height: 1.2em;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }
}
