@font-face {
  font-family: grinched;
  src: url("./assets/fonts/GrinchedRegular.otf");
}

@font-face {
  font-family: Quicksand;
  src: url("./assets/fonts/Quicksand-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
}

:root {
  --app-font: 'grinched', sans-serif;
  --background-color: #a4ca43;
  --background-color-outer: #4cb04e;
  --background-color-holo: #a4ca43f8;
  --text-color: #009166;
  --primary-accent: #d11c25;
  --secondary-accent: #d1de5c;
  --secondary-accent-holo: rgba(209, 222, 92, 0.97);
  --white-accent: #CFEAF1;
  --checkbox-color: var(--text-color);
  --border-primary: red;
  --border-secondary: white;
  --border-mobile: #3a8b3b32;
  --table-underline: var(--text-color);
  --background-image: url('/public/assets/images/party-background2.png');
}

/* 🎄 Holiday theme */
body.christmas-theme {
  --app-font: 'grinched', sans-serif;
  --background-color: #a4ca43;
  --background-color-outer: #4cb04e;
  --background-color-holo: #a4ca43f8;
  --text-color: #009166;
  --primary-accent: #d11c25;
  --secondary-accent: #d1de5c;
  --secondary-accent-holo: rgba(209, 222, 92, 0.97);
  --white-accent: #CFEAF1;
  --checkbox-color: var(--text-color);
  --border-primary: red;
  --border-secondary: white;
  --border-mobile: #3a8b3b32;
  --table-underline: var(--text-color);
  --background-image: url('/public/assets/images/party-background2.png');
}

/* ✨ Party theme */
body.party-theme {
  --app-font: 'Quicksand', sans-serif;
  --background-color: #67aae4;
  --background-color-outer: #3078b7;
  --background-color-holo: #67aae4f8;
  --text-color: black;
  --primary-accent: #e56820;
  --secondary-accent: #549ee3;
  --secondary-accent-holo: rgb(228, 239, 251);
  --checkbox-color: var(--primary-accent);
  --border-primary: #4889D8;
  --border-secondary: var(--border-primary);
  --border-table-mobile: #3a8b3b32;
  --table-underline: var(--border-primary);
  --background-image: url('/public/assets/images/party-background.png');
}

html, body {
  overscroll-behavior: none;
}

body {
  font-family: var(--app-font);
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--text-color);
  // background: radial-gradient(circle, var(--secondary-accent) 20%, var(--background-color-outer) 100%);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-size: 24px;
  overflow-x: hidden;
}

h1 {
  font-size: 68px;
  letter-spacing: 5px;
}

h2 {
  font-size: 48px;
  line-height: 1em;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 32px;
  line-height: 1.7em;
}

button {
  font-family: var(--app-font);
  background-color: transparent;
  // border: none;
  border: 3px solid var(--border-primary);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-accent-holo);
  color: var(--text-color);
  font-size: 40px;
  letter-spacing: 2px;
  transition: transform 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    color: var(--primary-accent);
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98) translateY(0);
  }

  &:disabled {
    cursor: not-allowed; /* Disable pointer events */
    opacity: 0.5; 
    transform: scale(1);
    text-decoration: none;
    color: var(--text-color);
  }
}

a:hover {
  cursor: pointer;
}

@media (max-width: 840px) {
  body {
    font-size: 16px;
    overflow-x: hidden;
  }

  body.party-theme {
    --background-image: url('/public/assets/images/party-background-mobile.png');
  }

  body.christmas-theme {
    --background-image: url('/public/assets/images/party-background2.png');
  }

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 28px;
    line-height: 1.2em;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }
}
